.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Customize to match your theme */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100%;
}
